@page "/"

<h1>Welcome to Robz - Object Detection using ML.net and Blazor webassembly</h1>
<h3>First of all, please load an image from an URL, then click next</h3>
<div id="image-loader">
    <textarea placeholder="Image URL..." @bind="URL"></textarea>
    <button @onclick="OnClickNextButton">Next</button>
</div>
<img src="@ImageURL" @onerror="OnImageError" />

@code {
    public static string URL = "";
    public static string ImageURL = "";
    public static string ImageText = "No Image Loaded";

    public static void OnImageError()
    {
        ImageText = "This image is not supported by your browser";
    }

    public static void OnClickNextButton()
    {
        Uri parsedURI = null;
        bool parseResult = false;

        parseResult = Uri.TryCreate(URL, UriKind.Absolute, out parsedURI);
        if (!parseResult || (parsedURI.Scheme != Uri.UriSchemeHttp && parsedURI.Scheme != Uri.UriSchemeHttps))
        {
            URL = "Invalid URL Provided";
            return;
        }
        URL = ImageURL = parsedURI.ToString();
    }
}
